* {
  font-family: 'Modern Antiqua';
  transition: all 3s ease-in-out;
  scroll-behavior: smooth;
}
body,
html {
  background: #000;
}
.brand {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 3s;
}
nav {
  font-size: 18px;
}
li {
  margin-left: 5rem;
}
.navbar-nav{
  width:50% !important;
  /* border: 1px solid red !important; */
}
.navbar-nav li{
  margin-left: auto;
}
.btn {
  padding: 10px 15px;
  background: #e69a8d;
  color: #5f4b8b;
  font-weight: 600;
}
.btn:hover {
  transition: all 3s ease-in-out;
  transform: scale(1.1);
  background: #5f4b8b;
  color: #e69a8d;
}
.pageBanner {
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bannerDetails {
  display: flex;
  align-items: flex-end;
  width: 35%;
  height: 100%;
  padding-left: 3%;
}
.bannerDetails h1 {
  width: 100%;
  letter-spacing: .5rem;
  color: #e69a8d;
  
}
.bannerDetails span {
  color:rgb(119, 106, 146) ;
  font-weight: 600;
}
.textContainer {
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-overflow: inherit;
}
.videoCollection {
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: auto;
}
.moviesCollections {
  height: 400px;
  margin-top: 2rem;
}
img {
  height: 100%;
}
ul {
  display: flex;
  flex-flow: row;
}
#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#button {
  margin-top: -2rem;
}
.imgList {
  margin: 10px;
  width:100% ;
  height: 350px;
  list-style: none;
  position: relative;
}
.image{
  width:350px ;
  height: 100%;
}
.imgList:hover #button {
  opacity: 0.7;
}
.imgList:hover #overlay {
  opacity: 1;
}
.imgList:hover img {
  transition: all 800ms ease-in-out;
  transform: scale(1.1);
}
::-webkit-scrollbar {
  display: none;
}