*{
    font-family: 'Modern Antiqua';
    transition: all 3s ease-in-out;
    overflow: hidden;
  }
  body,html{
    width: 100%;
    height: 100%;
  }

  form{
      width: 70%;
      margin: auto;
      margin-bottom: 30px;
  }
  span{
      color: #E69A8D;
      font-weight: 600;
  }
  
  a{
      color: #fff;
  }
  a:hover{
      text-decoration: none;
  }
  .cardContainer{
      width: 40%;
      /* background: rgba(95, 75, 139, 0.50); */
      background: transparent !important;
      /* background-image: url(../img/video.jpg); */
      /* background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: overlay; */
      border: none !important;
  }
  .btnConatiner{
      width: 70%;
      margin: auto;
      animation: fadeInUp;
    animation-duration: 2s;
    margin-bottom: 50px;
  }
  .btn{
    width: 100%;  
    height: 50px;
    background: #E69A8D !important;
    color: #5F4B8B !important;
    font-weight: 600;
  }
  .btn:hover{
    transition: all 3s ease-in-out;
    transform: scale(1.1);
    background: #5f4b8b;
    color: #E69A8D;
  }
  input{
    border:none;
    outline: none; 
    padding-left: 20px;
    border-bottom:3px dashed #5f4b8b; 
    height: 50px;
    color: #5F4B8B;
  }
  h1{
      margin-top: 3rem;
    color:#5F4B8B;
    font-weight: 600;
    animation: bounce;
    animation-duration: 2s;
  }
  ::placeholder{
      color:#5F4B8B
  }

  @media(max-width:540px){
      .cardContainer{
          width: 60%;
      }
  }
  @media(max-width:414px){
      .cardContainer{
          width: 70%;
      }
  }
  @media(max-width:411px){
      .cardContainer{
          width: 80%;
      }
  }
  @media(max-width:375px){
      .cardContainer{
          width: 95%;
      }
  }
  @media(max-width:360px){
      .cardContainer{
          width: 95%;
      }
  }
  @media(max-width:320px){
      .cardContainer{
          width: 95%;
      }
  }
  @media(max-width:280px){
      .cardContainer{
          width: 95%;
      }
  }