*{
    font-family: 'Modern Antiqua';
    transition: all 3s ease-in-out;
    scroll-behavior: smooth;
  }
  body{
    background-color: #000;
  }
  body,html{
    width: 100%;
    /* background-color: #000; */
 
  }
    .brand{
      display: inline-block;
      margin: 0 0.5rem;
      animation: bounce;
      animation-duration: 3s;
    }
  /* .active{
    color:#E69A8D;
    border-bottom:2px dotted #E69A8D;
  } */
  nav {
    font-size: 18px;
    height: 30px;
  }
  .videoContainer {
    box-sizing: content-box;
    max-height: 50%;
  }
  #video {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #myNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0);
    color: #f1f1f1;
    width: 100%;
    padding: 25px;
    
  }
  a {
    color: #5F4B8B;
  }
  .topColContainer{
      width: 80%;
      height: 320px;
      margin-bottom: 6rem;
  }
  .img{
    width: 100%;
  }
  .btn{
    padding: 10px 15px;
    background: #E69A8D;
    color: #5F4B8B;
    font-weight: 600;
  }
  .btn:hover{
    transition: all 3s ease-in-out;
    transform: scale(1.1);
    background: #5f4b8b;
    color: #E69A8D;
  }
  span{
    color: #E69A8D;
    font-size: 18px;
  }
  h1{
    width: 75%;
    color: #5F4B8B;
    font-weight: 600;
  }
  .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .getStarted{
    width: 50%;
  }
  input{
    width:70%;
    height: 45px;
    padding-left: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #5F4B8B;
  }
  label{
    font-weight: 800;
    font-size: 24px;
  }
  .pop{
    width: 80%;
    height: 320px;
  }
  ::placeholder{
    color: #5F4B8B;  
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  display: none;
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 6px;
  display: block;
  background: linear-gradient(#5F4B8B,#E69A8D);
}





  /* .................................Media Query......................................... */




@media (max-width:1024px) {
  #video,.overlay{
    height: 100vh;
  }
}
@media (width:991px) {
  #video{
    height: 100vh;
  }
  .getStarted{
    width: 60%;
  }
}
@media (max-width:768px) {
  #myNav{
    position: fixed;
  }
  #video{
    height: 100vh;
  }
  .getStarted{
    width: 60%;
  }
}
@media (max-width:540px) {
  #video{
    height: 100vh;
  }
  .getStarted{
    width: 80%;
  }
  .topColContainer{
    height: 100%;
  }
  .pop{
    width: 100%;
  }
}
@media (max-width:414px) {
  #video{
    height: 100vh;
  }
  .getStarted{
    width: 90%;
  }
  .btnCheck{
    width: 100px;
    font-size: 14px ;
    padding: 10px 0;
  }
  .pop{
    width: 100%;
  }
  .topColContainer{
    height: 100%;
  }
}
@media (max-width:411px) {
  #video{
    height: 100vh;
  }
  .getStarted{
    width: 90%;
  }
  .btnCheck{
    width: 100px;
    font-size: 14px ;
    padding: 10px 0;
  }
  .topColContainer{
    height: 100%;
  }
  .pop{
    width: 100%;
  }
}
@media (max-width:375px) {
  #video{
    height: 100vh;
  }
  .getStarted{
    width: 90%;
  }
  input{
    width: 65%;
  }
  .btnCheck{
    width: 100px;
    font-size: 14px ;
    padding: 10px 0;
  }
  .topColContainer{
    height: 100%;
  }
  .pop{
    width: 100%;
  }
}
@media (max-width:360px) {
 #video{
    height: 100vh;
  }
  .getStarted{
    width: 90%;
  }
  input{
    width: 65%;
  }
  .btnCheck{
    width: 100px;
    font-size: 14px ;
    padding: 10px 0;
  }
  .topColContainer{
    height: 100%;
  }
  .pop{
    width: 100%;
  }
}
@media (max-width:320px) {
  #video{
    height: 100vh;
  }
  .getStarted{
    width: 90%;
  }
  input{
    width: 60%;
  }
  .btnCheck{
    width: 100px;
    font-size: 14px ;
    padding: 10px 0;
  }
  .topColContainer{
    height: 100%;
  }
  .pop{
    width: 100%;
  }
}

